/*Responsividade*/

@media (max-width: 475.98px) {
	section#conteudo_procura {
		margin-top: 150px;
	}

	h2.h2-procura {
		font-size: 3em;
	}

	h2.h2-sugestao {
		font-size: 3em;
	}

	a.carousel-control-next {
		right: -50px !important;
	}
	
	a.carousel-control-prev {
		left: -50px !important;
	}

	h2.titulo_conteudo {
		font-size: 3em;
	}

	section#conteudo_drinks {
		margin-left: -30px !important;
		margin-right: -30px !important;
	}

	h2.h2-drink {
		font-size: 2em;
	}

	h3.h3-drink {
		font-size: 2em;
	}

	ul.ul-drink, ol.ul-drink {
		font-size: 0.7em;
	}

	img.card-img-top {
		border-radius: 10px;
		height: 200px;
	}
}

@media (min-width: 475.99px) and (max-width: 575.98px) {
	section#conteudo_procura {
		margin-top: 150px;
	}

	h2.h2-procura {
		font-size: 3.5em;
	}

	h2.h2-sugestao {
		font-size: 3.5em;
	}

	a.carousel-control-next {
		right: -50px !important;
	}
	
	a.carousel-control-prev {
		left: -50px !important;
	}

	h2.titulo_conteudo {
		font-size: 3.5em;
	}

	section#conteudo_drinks {
		margin-left: -40px !important;
		margin-right: -40px !important;
	}

	h2.h2-drink {
		font-size: 2em;
	}

	h3.h3-drink {
		font-size: 2em;
	}

	ul.ul-drink, ol.ul-drink {
		font-size: 0.8em;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	section#conteudo_procura {
		margin-top: 150px;
	}

	h2.h2-procura {
		font-size: 3.5em;
	}

	h2.h2-sugestao {
		font-size: 3.5em;
	}

	a.carousel-control-next {
		right: -60px !important;
	}
	
	a.carousel-control-prev {
		left: -60px !important;
	}

	h2.titulo_conteudo {
		font-size: 3.5em;
	}

	section#conteudo_drinks {
		margin-left: -50px !important;
		margin-right: -50px !important;
	}

	h2.h2-drink {
		font-size: 2.5em;
	}

	h3.h3-drink {
		font-size: 2.5em;
	}

	ul.ul-drink, ol.ul-drink {
		font-size: 0.9em;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	section#conteudo_procura {
		margin-top: 20px;
	}

	h2.h2-procura {
		font-family: beach;
		font-size: 5em;
	}

	h2.h2-sugestao {
		font-family: beach;
		font-size: 5em;
		color: #DF7401;
	}

	a.carousel-control-next {
		right: -90px !important;
	}
	
	a.carousel-control-prev {
		left: -90px !important;
	}

	h2.titulo_conteudo {
		font-size: 5em;
	}

	section#conteudo_drinks {
		margin-left: -60px !important;
		margin-right: -60px !important;
	}

	h2.h2-drink {
		font-size: 2.8em;
	}

	h3.h3-drink {
		font-size: 2em;
	}

	ul.ul-drink, ol.ul-drink {
		font-size: 0.9em;
	}
}

/*Formatação geral*/

body {
	background: url('../imagens/bg.jpg');
	margin: 0;	
}

li:first-letter {
	text-transform: uppercase;
}


@font-face {
	font-family: 'beach';
	src: url('../fonts/beach.woff');
}

@font-face {
	font-family: 'dream';
	src: url('../fonts/dream.woff');
}

@font-face {
	font-family: 'one';
	src: url('../fonts/one.woff');
}

.animacao {
	opacity: 0;
	animation: opacidade 1.2s;
	animation-fill-mode: both;
}

@keyframes opacidade {

	to {	
		opacity: 1;	
	}
	
}

/* Cabeçalho */

.navegacao {
	background-color: rgb(251,255,252, 0.8);
	opacity: 0;
	animation: opacidade 1.2s;
	animation-fill-mode: both;
	box-shadow: 0 0 1em #DF7401;	
}

/* Capa */

#capa {
	background: url(../imagens/d11.jpg) no-repeat;
	background-position: left 50%;
	background-size: cover;
	height: 700px;
	margin-top: 150px;
	margin-bottom: 20px;
	position: relative;
}

.capa {
	color: aliceblue;
	position: absolute;
	top: 20%;
	left: 45%;
	text-shadow: 0 0 0.5em #DF7401;
	font-size: 5em;
	font-family: beach;
	
}

/* Conteudo_Busca */

#conteudo_procura, #conteudo_drinks, #conteudo_carrousel {
	border: 6px double lightsalmon;
	border-left: none;
	border-right: none;
}

#conteudo_procura {
	margin-top: 20px;
}

.h2-procura {
	font-family: beach;
	font-size: 4.2em;
}

.p-procura {
	font-family: one;
	font-style: italic;
	font-size: 1em;
}

.btn-custom {
	color: aliceblue;
	font-family: one;
	font-style: italic;
}

.img {
	opacity: 0.5;
}

.texto {
	color: #DF7401;
}

/* Conteudo_Drinks */

.titulo_conteudo {
	font-family: beach;
	text-shadow: 0 0 1em #DF7401;
	color: #DF7401;
	font-size: 5em;

}

.card-custom {
	border-radius: 15px;
	border: 3px double darkred;
	box-shadow: 0 0 1em darkred;
}

.card {
	padding: 0 !important;
}

.card-img-top {
	border-radius: 10px;
	height: 400px;
}

.h2-drink {
	font-family: beach;
	font-size: 3em;
	color: #DF7401;
}

.h3-drink {
	font-family: dream;
	color: darkred;
	text-shadow: 0 0 1em #DF7401;
	font-size: 2.5em;
}

.ul-drink {
	font-size: 1em;
}

#conteudo_drinks li {
	font-size: 1.2em;
}

/* Conteudo_Carrosel */

.h2-sugestao {
	font-family: beach;
	font-size: 5.5em;
	color: #DF7401;
}

.carousel-control-next {
	right: -130px !important;
}

.carousel-control-prev {
	left: -130px !important;
}

/* Rodapé */

#rodape {
	background-color: rgb(251,255,252, 0.6);
	opacity: 0;
	animation: opacidade 1.2s;
	animation-fill-mode: both;
	box-shadow: 0 0 1em #DF7401;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer h2 {
	font-family: one;
	color: #DF7401;
	font-size: 2em;
	font-weight: bolder;
}





