/*Responsividade*/

@media (max-width: 424.98px) {
    a.iconf {
        margin-top: 1.5rem!important;
    }
    h1.h1-select {
        font-size: 1em;
    }
    a.btn-success {
        margin-top: 10px;
        margin-right: 10px;
    }
    section#escolha, div.gradiente {
        height: auto;
    }
    div.gradiente {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    input#input {
        width: 90%;
        height: 100;
        font-size: 1.8em;
    }
    a.m-custom {
        margin-top: 25px;
    }
    nav.navbar {
        padding-top: 50px;
    }

    h1.custom {
        margin-top: 40px;
    }
    h1.h1-mobile {
        font-size: 1.4em !important;
    }
    div#banner01, div#banner02, div.textoBanner{
        height: 520px;
    }
    div#banner01, div#banner02 {
        background-size: cover;
    }
    div#banner01 h1, div#banner02 h1 {
        font-size: 1.2em;
    }
    div.texto-main{
        padding-right: 0 !important;
    }
    #main h2 {
        font-size: 1.5em !important;
    }
    #main p {
        font-size: 0.9em !important;
    }
    footer#rodape {
        margin-top: 120px;
    }
    a.btn-danger  {
        font-size: 0.9em;
    }
    div#resultado p {
        font-size: 0.8em;
    }
    div#resultado h1 {
        font-size: 2em;
    }
}


@media (min-width: 425.99px) and (max-width: 475.98px) {
    h1.h1-select {
        font-size: 1em;
    }
    a.btn-success {
        margin-top: 10px;
        margin-right: 10px;
    }
    section#escolha, div.gradiente {
        height: auto;
    }
    div.gradiente {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    input#input {
        width: 90%;
        height: 100;
        font-size: 2em;
    }
    a.m-custom {
        margin-top: 25px;
    }
    nav.navbar {
        padding-top: 50px;
    }

    h1.custom {
        margin-top: 40px;
    }
    h1.h1-mobile {
        font-size: 1.4em !important;
    }
    div#banner01, div#banner02, div.textoBanner{
        height: 520px;
    }
    div#banner01, div#banner02 {
        background-size: cover;
    }
    div#banner01 h1, div#banner02 h1 {
        font-size: 1.5em;
    }
    div.texto-main{
        padding-right: 0 !important;
    }
    #main h2 {
        font-size: 1.7em !important;
    }
    #main p {
        font-size: 1em !important;
    }
    footer#rodape {
        margin-top: 120px;
    }
}

@media (min-width: 475.99px) and (max-width: 575.98px) {
    h1.h1-select {
        font-size: 1.3em;
    }
    a.btn-success {
        margin-top: 10px;
        margin-right: 10px;
    }
    section#escolha, div.gradiente {
        height: auto;
    }
    div.gradiente {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    input#input {
        width: 90%;
        height: 100;
        font-size: 2.5em;
    }
    a.m-custom {
        margin-top: 25px;
    }
    nav.navbar {
        padding-top: 50px;
    }
    h1.custom {
        margin-top: 40px;
    }
    div#banner01, div#banner02, div.textoBanner{
        height: 520px;
    }
    div#banner01, div#banner02 {
        background-size: cover;
    }
    div#banner01 h1, div#banner02 h1 {
        font-size: 1.7em;
    }
    #main h2 {
        font-size: 1.7em !important;
    }
    #main p {
        font-size: 1em !important;
    }
    div.texto-main{
        padding-right: 0 !important;
    }
    footer#rodape {
        margin-top: 120px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h1.h1-select {
        font-size: 1.7em;
    }
    input#input {
        width: 85%;
        height: 160;
        font-size: 3em;
    }
    a.m-custom {
        margin-top: 25px;
    }
    nav.navbar {
        padding-top: 50px;
    }

    h1.custom {
        margin-top: 40px;
    }
    div.texto-main{
        padding-right: 0 !important;
    }
    footer#rodape {
        margin-top: 120px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    nav.navbar {
        padding-top: 50px;
    }

    h1.custom {
        margin-top: 40px;
    }

    footer#rodape {
        margin-top: 100px;
    }
}

/*Formatação geral*/

body {
	background: black;
	margin: 0;
}

a.nav-link {
    color: white !important;
    font-family: bad;
}

a.nav-link:hover {
    color: #FF0000 !important;
    transition: 1s;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
}


@font-face {
	font-family: 'bad';
	src: url('../fonts/badworse.woff');
}

@font-face {
	font-family: 'one';
	src: url('../fonts/one.woff');
}

@keyframes bgSwitch {

    from {
        background-image:  url('../imagens/banner05.png');
        background-size: cover;
    }

    to{
        background-image:  url('../imagens/banner06.png');
        background-size: cover;
    }

}

@keyframes bgMoveX {

    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 1000px;
    }

}

/* Cabeçalho */

.bg-dark {
    background-color: black !important;
}

/* Banner Slide */

#banner01, #banner02, .textoBanner {
    height: 780px;
    background-position: center;
}

#banner01 {
    background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  ), url('../imagens/banner01.png');
}

#banner02 {
    background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  ), url('../imagens/banner02.png');
}

#banner01 h1, #banner02 h1 {
    font-family: bad;
    color: white;
}

/* Main */

#conteudo_erro {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo_erro h1 {
    font-family: bad;
    color: #fff;
}

#main, #conteudo_erro {

    background-image: url(../imagens/banner04.png);
    animation: bgMoveX 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.texto-main {
    padding-right: 10%
}

#resultado {
    background-image: url(../imagens/banner04.png);
    animation: bgMoveX 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.img-drink {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}

#resultado h1 {
    font-family: bad;
    color: #FF0000;
    text-align: center;
}

#resultado p {
    color: white;
    text-align: center;
}

.h1-mobile {
    font-family: bad;
    color: white;
}


#main h2 {
    font-family: bad;
    font-size: 2.6em;
}

#main p {
    font-size: 1.2em;
}

.btn-danger  {
    background-color: #FF0000 !important;
    font-family: bad;
    font-size: 1.4em;
    border-radius: 15px;
    border: 2px solid salmon;
}

.opcao {
    color: #fff;
    background-color: rgba(0,0,0,.6);
    padding: 25px;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 10px;
    font-family: 'bad';
    font-size: 1.4em;
    border: 1px solid black !important;
}

.opcao:hover {
    background-color: rgb(0,0,0);
    color: #fff;
}

.btn-danger:hover  {
    transition: 1s;
    background-color: rgba(19, 16, 16, .2) !important;
    font-family: bad;
    font-size: 1.4em;
    color: #FF0000;
    border-radius: 15px;
    border: 2px solid #FF0000;
}

.opcao:focus, .opcao:active  {
    color: #fff;
    border: 1px solid black !important;
}

/* Seleção */

#escolha {
    animation: bgSwitch 5s;
    height: 780px;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    background-position: center;
}

#input {
    width: 75%;
    height: 180;
    border-radius: 15px;
    padding: 45px;
    background-color: rgba(0,0,0,.7);
    border-bottom: 2px solid red;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: white;
    font-size: 5em;
    font-family: 'bad';
    text-transform: uppercase;
}

.h1-select {
    font-family: bad;
}

.gradiente {
    height: 780px;
    background: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  );
}

/* Rodapé */

#rodape {
	background-color: black;
}






