/*Responsividade*/

@media (max-width: 475.98px) {

}

@media (min-width: 475.99px) and (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Formatação geral*/

body {
	background: black;
	margin: 0;
}

a.nav-link {
    color: white !important;
    font-family: bad;
}

a.nav-link:hover {
    color: #FF0000 !important;
    transition: 1s;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
}


@font-face {
	font-family: 'bad';
	src: url('../fonts/badworse.woff');
}

@font-face {
	font-family: 'one';
	src: url('../fonts/one.woff');
}

@keyframes bgSwitch {

    from {
        background-image:  url('../imagens/banner05.png');
        background-size: cover;
    }

    to{
        background-image:  url('../imagens/banner06.png');
        background-size: cover;
    }

}

@keyframes bgMoveX {

    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 1000px;
    }

}

/* Cabeçalho */

.bg-dark {
    background-color: black !important;
}

/* Banner Slide */

#banner01, #banner02, .textoBanner {
    height: 780px;
    background-position: center;
}

#banner01 {
    background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  ), url('../imagens/banner01.png');
}

#banner02 {
    background-image: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  ), url('../imagens/banner02.png');
}

#banner01 h1, #banner02 h1 {
    font-family: bad;
    color: white;
}

/* Main */

#main {

    background-image: url(../imagens/banner04.png);
    animation: bgMoveX 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

#main h2 {
    font-family: bad;
    font-size: 2.6em;
}

#main p {
    font-size: 1.2em;
}

.btn-danger  {
    background-color: #FF0000 !important;
    font-family: bad;
    font-size: 1.4em;
    border-radius: 15px;
    border: 2px solid salmon;
}

.btn-danger:hover  {
    transition: 1s;
    background-color: rgba(19, 16, 16, .2) !important;
    font-family: bad;
    font-size: 1.4em;
    color: #FF0000;
    border-radius: 15px;
    border: 2px solid #FF0000;
}

/* Seleção */

#escolha {
    animation: bgSwitch 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    height: 780px;
    background-position: center;
}

.gradiente {
    height: 780px;
    background: linear-gradient(
		to right bottom,
		rgb(0,0,0, 0.9),
		rgba(0, 0, 0, 0.4)
	  );
}

/* Rodapé */

#rodape {
	background-color: black;
}




